<!doctype html>
<html>
<head> 
	<META http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT">
	<META http-equiv="Last-Modified" content="Sat, 10 Nov 1997 09:08:07 GMT">
	<META http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
	<META http-equiv="Pragma" content="no-cache"> 
	<script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script> 
	<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=KlTlMDFaerUmBXk7u9rZkvrGGw864ZiY"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
	<script type="text/javascript" src="../js/chartjs/hotPosition.js"></script> 
</head>
<body> 
</body> 
</html>